// colors variables
$text-color: #141414;
$input-colors: #d6d0d0;
$body-bg: #9df5df;
$background-color: #1082ec;

// font variables
$montserrat: "Montserrat", sans-serif;

//card container
$card-color: #f3f3f3;
$box-shadow: #c70a0a;

//button color
$btn-color: #0099ff;
$font-color: #ffff;

//listor section

$kostnad-list: #ff9500;
$vinst-list: #00d37b;
$list-color: #ffff;
$tash-color: red;
$vinst-font: #ff5f02;
